/**
 * list 列表页面
 */
.list-page-wrapper {
}
// 页面顶部
.list-page-header-wrapper {
  padding: 0 10/16rem;
  height: 46/16rem;
  line-height: 46/16rem;
  font-size: 18/16rem;
  background-color: #eee;
  h1 {
    display: inline;
    font-size: 18/16rem;
  }
}
